# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

- List popular languages for Data Science
- Jupyter Notebook and Jupyter Lab
- RStudio
- Github

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:

1. NumPY
2. Pandas
3. caret
4. ggplot2

Data Science Tools | 
-- |
Apache Spark |
Hadoop |
Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
# returns the expected output of 17

a = 3
b = 4
c = (3*  4) + 5

print(c)

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200

hour = 60

total_hours = minutes/hour

print(total_hours)

3.3333333333333335

## Author

Alejandro Torres